@inherits StateComponent

@typeparam T

@switch(this.type)
{
    case ListType.Unordered:
    {
        <ul class="@Class" id="@Id">
            @foreach(T item in items)
            {
                <li class="@ElementClass" id="@ElementId">@child(item)</li>
            }
        </ul>
        break;
    }
        
    case ListType.Ordered:
    {
        <ol class="@Class" id="@Id" type="@LabelType">
            @foreach(T item in items)
            {
                <li class="@ElementClass" id="@ElementId">@child(item)</li>
            }
        </ol>

        break;
    }
}